<!--Formulaire-->
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-outline mb-1 small">
    <input type="text" id="form2Example11" class="form-control form-control-sm"
      placeholder="secteur d'activite" formControlName="secteur"/>
     <label class="form-label small" for="form2Example11">Activity sector</label>
  </div>

  <div class="form-outline mb-1 small">
    <div class="d-flex justify-content-start">
      <input type="text" id="form2Example11" class="form-control form-control-sm w-25"
        placeholder="duree" formControlName="dureeNombre"/>
      <div class="form-outline">
        <select class="select h-100 w-75" formControlName="dureeLettre">
          <option value="1">jour(s)</option>
          <option value="2">semaine(s)</option>
          <option value="3">mois</option>
          <option value="4">an(s)</option>
        </select>
      </div>
    </div>
     <label class="form-label small" for="form2Example11">Duration</label>
  </div>

  <div class="form-outline mb-4 small">
    <input type="text" id="form2Example11" class="form-control form-control-sm"
      placeholder="competence(s) attendue(s)" formControlName="competence_attendue"/>
     <label class="form-label small" for="form2Example11">Expected skill(s)</label>
  </div>

  <!-- Boutons Creer et annuler -->
  <div class="modal-footer mb-3">
    <button [disabled]="form.invalid" class="btn btn-primary btn-block fa-lg gradient-custom-2 border border-color-none me-4 fs-5" type="submit" data-dismiss="modal">Create</button>
    <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 border border-color-none me-4 fs-5">Cancel</button>
  </div>

</form>
