<!-- Titre de la section -->
<h5 class="mt-5 mb-3 fst-italic ms-4">Mes demandes d'emploi</h5>

  <!-- Lorsqu'il y a au moins une demande -->
<div class="container" *ngIf="tableDemandeEmploi.length > 0">
    <div class="box rounded mx-1 mb-3 shadow-lg p-3 mb-5" *ngFor="let item of tableDemandeEmploi">
      <h6 class="ms-3 mt-3 mb-1">{{item.entreprise}}</h6>
      <hr class="m-0 mx-3">
      <div class="mt-2">
        <div class="ms-3 mb-1">
          Competences:<span *ngFor="let item of item.competences" class="fw-light ms-3 mb-1">{{item}}</span>
        </div>
      </div>
      <div class="mt-4">
        <div class="ms-3 mb-1">
          <span *ngIf="item.statut!==''" class="fw-light fs-6 fst-italic ms-5 mb-1">{{item.statut}}</span>
          <span *ngIf="item.statut===''" class="fw-light fs-6 fst-italic ms-5 mb-1">En cours de traitement</span>
        </div>
      </div>
    </div>
</div>

<!-- Lorsqu'il n'y a pas de demandes -->
<div class="container" *ngIf="tableDemandeEmploi.length <= 0">
  <div class="box rounded mb-3 shadow-lg p-3 mb-5">
    <h6 class="ms-3 mt-3 mb-1">Aucune demande de stage faites actuellement</h6>
    <hr class="mt-0 mb-5 mx-3">
  </div>
</div>

<hr class="mt-3">



