
<!-- Barre de navigation-->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">

    <!-- Insertion du logo de l'universite et du nom du departement -->
    <div class="d-flex text-center row ms-2 w-25 h-25 mt-2">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 90px;" class="col-lg-2" alt="logo">
      <p class="h6 col-lg-2 fst-italic mb-2 fw-bolder text-white">Departement informatique</p>
    </div>

    <!-- Creation du bouton toggle qui permettra de reduire le menu -->
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Elements du menu -->
    <div class="collapse navbar-collapse align-content-center" id="navbarNav">
      <ul class="navbar-nav justify-content-space-bet">
        <li class="nav-item">
          <a href="" class="nav-link" id="navL" aria-current="page">Accueil</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" id="navL">Annuaires</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" id="navL">Offres</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" id="navL">Nos evenements</a>
        </li>
        <li class="nav-item me-3">
          <a href="" class="nav-link" id="navL">A propos du departement</a>
        </li>
        <li class="nav-item ms-5 me-3">
          <a href="" class="nav-link signUp">Sign up</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link signIn">Sign in</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
